.hello{
    text-align: center;
    color: rgb(0, 0, 0);
    line-height: 20cm;
    font-size:250%;
    font-weight:bolder;
}

button{
    position: relative;
    border: none;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 15px;
    font-family: "paybooc-Light", sans-serif;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
    display: inline-block;
}

.button{
    text-align: center;
}
